.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    gap: 10px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 30px 10px 0 40px;
    box-sizing: border-box;
}
.searchBarWrapper {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    
}
.searchBar{
    border-radius: 10px;
    height: 30px;
    width: 400px;
}
.iconButton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 10px;
}
.header p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
}