@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color:#E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primairy-color-light: #F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;

    --tran-02: all 0.2s|ease;
    --tran-03: all 0.3s|ease;
    --tran-04: all 0.4s|ease;
    --tran-05: all 0.5s|ease;

}

body{
    height: 100vh;
    background: var(--body-color);
}
/* ===== Reusable ===== */
.sidebar .headerText{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.sidebar .image{
    min-width: 60px;
}

/* ===== Sidebar ====== */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    padding: 10px 14px;


}
.sidebar header{
    position: relative;
}
.sidebar .imageText img{
    width: 40px;
    border-radius: 6px;

}
.sidebar header .imageText{
    display: flex;
    align-items: center;
}

header .imageText .headerText{
    display: flex;
    flex-direction: column;

}

.headerText .name{
    font-weight: 400;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: var(--sidebar-color);
    font-size: 22px;

}
.reports{
    color: #373636;
}